@{
    Layout = "";
}
<!-- Error -->
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    <link href="~/Content/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>Er is een fout opgetreden</h2>
    </hgroup>
</body>
</html>
