/* Website css */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

.navbar-brand {
    color: white;
}
.navbar-brand:hover {
    color: white;
}
.navbar-nav li a {
    color: white;
}

.field-validation-error {
    color: rgb(220, 53, 69);
}

.input-validation-error {
    border-color: rgb(220, 53, 69);
}

#orders-list tbody tr:hover {
    background-color: #c7c7c7;
    cursor: pointer;
}

.order-pending {
}
.order-done {
    color: #cecece;
}
.datepicker-control {
    display: inline-block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}